<div class='installation_instructions'>
  <h3>Adding blurbs to your app</h3>

  <ol>
    <li>
      Use the
      <%= link_to 'I18n API', 'http://rdoc.info/github/svenfuchs/i18n/master/frames' %>
      to add text to your application:
      <pre><%= render 'blurbs/i18n_snippet' %></pre>
    </li>

    <li>
      View the blurb in your application:
      <img src='/assets/hello.png'>
    </li>

    <li>
      Any new blurbs you view in your browser will automatically be added to
      Copycopter. Edits made in Copycopter will be automatically downloaded by
      your application after a few minutes.
    </li>
  </ol>
</div>
