#blank_slate_accounts {
  width: 320px;
  padding: 20px 0 20px 30px;
  float: left;

  h6 {
    color: #848484;
    margin: 0 0 10px 0;
    font-weight: normal;
    text-shadow: 0 0 1px rgba(0,0,0,.1);
  }

  a.blank_slate_action {
    background: #e6edef;
    background: url('/images/create_a_project.png') center 14px no-repeat, -moz-linear-gradient(0% 100% 90deg,#d3dee2, #f4f7f9);
    background: url('/images/create_a_project.png') center 14px no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#f4f7f9), to(#d3dee2));
    display: block;
    border: 1px solid #bbbbbb;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #959595;
    text-indent: -5000px;
    width: 240px;
    height: 50px;
    margin: 0 auto;
    @include border-radius(25px);
    @include  box-shadow(0 2px 6px #b6b6b6);

    &:hover {
      background: url('/images/create_a_project.png') center 14px no-repeat, -moz-linear-gradient(0% 100% 90deg,#d3dee2, #fff);
      background: url('/images/create_a_project.png') center 14px no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#d3dee2));
    }
  }
}

#dashboard {
  @extend .clearfix;
  text-align: center;

  /*flash messages*/
  #flash_success {
    text-align: left;
    padding: 10px 30px;
    background: #d4fec1;
    border: 1px solid #4d8a32;
    text-shadow: 0 1px 0 #eeffe6;
    margin-bottom: 20px;
    @include border-radius(5px);
    @include box-shadow(0 1px 0 #b7dcea, inset 0 1px 3px #a5da8f);
  }
  #flash_notice, .announcement {
    text-align: left;
    padding: 10px 30px;
    background: #fffbb8;
    border: 1px solid #817134;
    margin-bottom: 20px;
    @include border-radius(5px);
    @include box-shadow(0 1px 0 #b7dcea, inset 0 1px 2px #ddd4a6);
  }

  #flash_failure, #flash_alert {
    text-align: left;
    padding: 10px 30px;
    background: #f48585;
    border: 1px solid #d55e5e;
    text-shadow: 0 1px 0 #ffcccc;
    margin-bottom: 20px;
    @include border-radius(5px);
    @include box-shadow(0 1px 0 #b7dcea, inset 0 1px 3px #d55e5e);
  }
  .account-wrapper {
    padding-top: 8px;
    background: url('/images/dashboard-tab.png') 280px 0 no-repeat;
  }
  .account {
    background: #fff url('/images/dashboard-col.gif') repeat-y left;
    border: 1px solid #90aab3;
    margin: 0 auto 25px;
    overflow: hidden;
    display: block;
    @include border-radius(5px);
    @include box-shadow(0 1px 5px #8ab3c2);

    .account-header {
      padding: 18px 30px;
      overflow: hidden;
      float: left;
      width: 200px;

      h4 {
        color: #1d2c31;
        font-size: 12px;
        font-weight: normal;
        text-align: left;
      }

      h3 {
        font: bold 16px $header;
        text-shadow: 0 1px 0 #fff;
        float: left;
        font-weight: bold;
        margin-bottom: 0.25em;
      }
    }
  }

  .projects {
    list-style: none;
    float: left;
    font: bold 14px $header;
    padding: 10px 0;
    text-align: left;
    margin-bottom: 0;
    width: 398px;

    li {
      border: 0;

      a {
        padding: 6px 30px;
        border-top: 1px solid #fff;
        border-bottom: 1px solid #fff;
        color: #53913a;

        &:link, &:visited {
          color: #53913a;
        }

        &:hover {
          background:#FFFBB8;
          border-top: 1px solid #FAD498;
          border-bottom: 1px solid #FAD498;
          text-decoration: none;
          color:#3D7427;
          @include box-shadow(inset 0 1px 0 #fff);
        }
      }
    }
  }
}
