/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  color: #333;
  font-size: 13px;
  font-family: "helvetica neue", arial, helvetica, "lucida grande", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  color: #111;
  font-family: "helvetica neue", Helvetica, arial, sans-serif; }

/* Misc classes and elements */
/* Use a .box to create a padded box inside a column.  */
.box {
  background: #eee;
  margin-bottom: 16px;
  padding: 16px; }

/* Use this to create a horizontal ruler across a column. */
hr {
  background: #ddd;
  border: none;
  clear: both;
  color: #ddd;
  float: none;
  height: 1px;
  margin: 0 0 12px;
  width: 100%; }

hr.space {
  background: #fff;
  color: #fff; }

/* for image replacement */
.ir {
  background-repeat: no-repeat;
  direction: ltr;
  display: block;
  overflow: hidden;
  text-align: left;
  text-indent: -9999px; }

/* Hide for both screenreaders and browsers
css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders
www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden {
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible {
  visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .subnav:before, #content:before, #content .content-header:before, #header:before, #footer:before, li#version_content_input .wysiwyg .toolbar:before, body.landing_page_new_design section#main-description:before, body.landing_page_new_design section#tour section#setup:before, body.landing_page_new_design section#tour section#edit:before, .clearfix:after, .subnav:after, #content:after, #content .content-header:after, #header:after, #footer:after, li#version_content_input .wysiwyg .toolbar:after, body.landing_page_new_design section#main-description:after, body.landing_page_new_design section#tour section#setup:after, body.landing_page_new_design section#tour section#edit:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after, .subnav:after, #content:after, #content .content-header:after, #header:after, #footer:after, li#version_content_input .wysiwyg .toolbar:after, body.landing_page_new_design section#main-description:after, body.landing_page_new_design section#tour section#setup:after, body.landing_page_new_design section#tour section#edit:after {
  clear: both; }

/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix, .subnav, #content, #content .content-header, #header, #footer, li#version_content_input .wysiwyg .toolbar, body.landing_page_new_design section#main-description, body.landing_page_new_design section#tour section#setup, body.landing_page_new_design section#tour section#edit {
  zoom: 1; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  /* Don't show links for images */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
/* Success, error & notice boxes for messages and errors. */
div.error, div.notice, div.success, #flash_failure, #flash_success, #flash_notice {
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 12px;
  padding: 10px; }

div.error, #flash_failure {
  background: #FBE3E4;
  border-color: #FBC2C4;
  color: #D12F19; }

div.error a, #flash_failure a {
  color: #D12F19; }

div.notice, #flash_notice {
  background: #FFF6BF;
  border-color: #FFD324;
  color: #817134; }

div.notice a, #flash_notice a {
  color: #817134; }

div.success, #flash_success {
  background: #E6EFC2;
  border-color: #C6D880;
  color: #529214; }

div.success a, #flash_success a {
  color: #529214; }

/* Headings */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

h1 {
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 12px; }

h2 {
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 6px; }

h3 {
  font-size: 18px;
  line-height: 1.2;
  margin-bottom: 4px; }

h4 {
  font-size: 16px;
  line-height: 1.3;
  margin-bottom: 4px; }

h5 {
  font-size: 14px;
  margin-bottom: 4px; }

h6 {
  font-size: 12px;
  margin-bottom: 4px; }

/* Text elements */
p {
  line-height: 1.4;
  margin-bottom: 12px; }

/* Use this if the image is at the top of the <p>. */
p img.top {
  margin-top: 0; }

img {
  margin: 0 0 12px; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

address {
  font-style: italic;
  margin-top: 16px; }

del {
  color: #666; }

a, a:link {
  color: #1a4882;
  text-decoration: underline; }

a:visited {
  color: #1a4882; }

a:hover {
  color: #052246; }

a:active, a:focus {
  color: #1a4882; }

blockquote {
  border-left: 4px solid #d1d1d1;
  color: #666;
  font-style: italic;
  margin: 16px 0;
  padding-left: 12px; }

strong {
  font-weight: bold; }

em,
dfn {
  font-style: italic; }

dfn {
  font-weight: bold; }

pre, code {
  margin: 12px 0;
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  word-wrap: break-word;
  /* IE */ }

pre, code, tt {
  font: 12px 'andale mono', 'monotype.com', 'lucida console', monospace;
  line-height: 1.5; }

pre.code {
  background: #000;
  color: #fff;
  padding: 20px; }

tt {
  display: block;
  line-height: 1.5;
  margin: 16px 0; }

/* Forms */
/*
* Remove inner padding and border in FF3/4
* www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
*/
input[type="submit"]::-moz-focus-inner {
  border: 0;
  padding: 0; }

form ol {
  list-style: none;
  margin: 0 0 12px 0; }

form ol ol {
  margin-left: 0; }

form ol li {
  list-style-position: outside;
  margin: 0 0 12px 0; }

/*list-style-position fixes IE label margin bug*/
form ol ol li {
  list-style-position: outside;
  margin: 0 0 4px 0; }

form ol li.error input {
  background: #FBE3E4; }

p.inline-errors {
  color: #D12F19; }

form ol li.file {
  background: #e1e1e1;
  border: 1px solid #c8c8c8;
  padding: 10px; }

form abbr {
  border-bottom: 0; }

label {
  display: block; }

.required label {
  font-weight: bold; }

.checkbox_field label,
.radio_field label {
  font-weight: normal; }

a.cancel {
  color: #7d0d0d; }

.inline-hints {
  color: #666;
  font-size: 11px;
  margin-bottom: 4px; }

/* Fieldsets */
fieldset {
  background: #f1f1f1;
  border: 1px solid #e3e3e3;
  margin: 0 0 16px 0;
  padding: 16px 16px 12px 16px; }

fieldset fieldset, fieldset fieldset fieldset {
  border: 0;
  padding: 0; }

legend {
  font-weight: bold; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

fieldset.buttons {
  background: inherit;
  border: 0;
  padding: 0; }

fieldset.buttons li {
  display: inline; }

.radio fieldset {
  margin: 0;
  padding: 0; }

/* Text fields */
input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="range"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  font-size: inherit;
  padding: 3px 2px;
  width: 300px; }

.ie6 input {
  vertical-align: text-bottom; }

input[disabled='disabled'] {
  background-color: #fcfcfc;
  cursor: default; }

input[type="checkbox"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

input[type="radio"] {
  margin: 0 3px 0 0;
  position: relative;
  top: -2px;
  vertical-align: middle; }

.check_boxes label {
  display: inline;
  padding: 0;
  vertical-align: middle; }

.radio label {
  padding: 0; }

/* Textareas */
textarea {
  font-size: inherit;
  height: 200px;
  margin: 0 6px 6px 0;
  padding: 5px;
  width: 440px;
  overflow: auto; }

/* Select fields */
fieldset .select select {
  width: 200px;
  font-size: 11px; }

optgroup {
  margin: 0 0 6px 0; }

/* Date & Time */
form ol li.date select, form ol li.time select, form ol li.datetime select {
  display: inline;
  width: auto; }

form ol li.date ol li, form ol li.time ol li, form ol li.datetime ol li {
  display: inline-block; }

/* Tables */
table {
  margin-bottom: 24px;
  width: 100%; }

th {
  border-bottom: 2px solid #ccc;
  font-weight: bold;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd; }

caption, th, td {
  padding: 4px 10px 4px 0; }

caption {
  background: #f1f1f1;
  margin-bottom: 12px;
  padding: 10px 0; }

tr, td, th {
  vertical-align: middle; }

/* Use this if you use span-x classes on th/td. */
table .last {
  padding-right: 0; }

/* Lists */
ul, ol {
  list-style-position: inside;
  margin-bottom: 16px; }

ul {
  list-style-type: disc; }

ol {
  list-style-type: decimal; }

dl {
  line-height: 1.4;
  margin-bottom: 16px; }

dl dt {
  font-weight: bold;
  margin-top: 6px; }

dl dd {
  margin-bottom: 0em; }

dd {
  margin-left: 6px; }

li {
  line-height: 1.4; }

ol ol, ol ul, ul ul, ul ol {
  margin-left: 12px; }

/* Mixins
---------------------------------------- */
/* Variables
---------------------------------------- */
/* Layout
---------------------------------------- */
body {
  background: #b9d7e1 url(/images/canvas-bg.jpg);
  background: url(/images/body-glow.png) no-repeat top center, #b9d7e1 url(/images/canvas-bg.jpg);
  font-family: Georgia, serif;
  text-align: center; }
  body.blurbs {
    overflow-y: scroll; }

#clouds {
  background: url(/images/clouds-three.png) repeat-x 55% bottom;
  background: url(/images/clouds-one.png) repeat-x 10% bottom, url(/images/clouds-two.png) repeat-x 70% bottom, url(/images/clouds-three.png) repeat-x 200% bottom;
  bottom: 0;
  height: 600px;
  position: fixed;
  width: 100%;
  z-index: -99; }

.wrapper {
  margin: 25px auto 0;
  text-align: left;
  width: 660px; }

h1, h2, h3 {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

h3 {
  color: #1d2c30;
  font: bold 18px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
  margin-bottom: 20px; }

h4 {
  color: #53913a;
  font: bold 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif; }

pre, code, tt {
  -webkit-box-shadow: inset 0 0 0 1px white;
  -moz-box-shadow: inset 0 0 0 1px white;
  -ms-box-shadow: inset 0 0 0 1px white;
  -o-box-shadow: inset 0 0 0 1px white;
  box-shadow: inset 0 0 0 1px white;
  background: #1D2C31;
  border: 1px solid #BFD9E3;
  color: #fff;
  padding: 10px;
  font-family: "Andale Mono", "Lucida Console", "Courier New", Courier, monospace; }

/* Links
---------------------------------------- */
a, a:link {
  color: #3d7427;
  text-decoration: none; }

a:visited {
  color: #214910; }

a:hover {
  color: #53913a;
  text-decoration: underline; }

input[type='submit'], button {
  -webkit-box-shadow: inset 0 1px 0 #c4e1b7;
  -moz-box-shadow: inset 0 1px 0 #c4e1b7;
  -ms-box-shadow: inset 0 1px 0 #c4e1b7;
  -o-box-shadow: inset 0 1px 0 #c4e1b7;
  box-shadow: inset 0 1px 0 #c4e1b7;
  background-color: #88c26f;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #88c26f), color-stop(100%, #73b05a));
  background-image: -webkit-linear-gradient(top, #88c26f, #73b05a);
  background-image: -moz-linear-gradient(top, #88c26f, #73b05a);
  background-image: -ms-linear-gradient(top, #88c26f, #73b05a);
  background-image: -o-linear-gradient(top, #88c26f, #73b05a);
  background-image: linear-gradient(top, #88c26f, #73b05a);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-font-smoothing: antialiased;
  border: 1px solid #49912c;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font: bold 16px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
  padding: 5px 15px;
  text-shadow: 0 -1px 0 #3f832a; }
  input[type='submit']:link, input[type='submit']:visited, button:link, button:visited {
    color: #fff; }
  input[type='submit']:hover, button:hover {
    background-color: #75ad5c;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #75ad5c), color-stop(100%, #64a14b));
    background-image: -webkit-linear-gradient(top, #75ad5c, #64a14b);
    background-image: -moz-linear-gradient(top, #75ad5c, #64a14b);
    background-image: -ms-linear-gradient(top, #75ad5c, #64a14b);
    background-image: -o-linear-gradient(top, #75ad5c, #64a14b);
    background-image: linear-gradient(top, #75ad5c, #64a14b);
    text-decoration: none; }

/* Forms
---------------------------------------- */
fieldset.inputs ol li {
  overflow: hidden;
  margin-bottom: 10px; }
  fieldset.inputs ol li.published {
    font-weight: bold; }
  fieldset.inputs ol li label {
    float: left;
    font: 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-top: 4px;
    width: 180px; }
  fieldset.inputs ol li p.inline-hints, fieldset.inputs ol li p.inline-errors {
    margin-left: 180px; }
  fieldset.inputs ol li input[type='text'],
  fieldset.inputs ol li input[type='password'],
  fieldset.inputs ol li input[type='email'],
  fieldset.inputs ol li input[type='url'] {
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    border: 1px solid #808080;
    font-size: inherit;
    float: left;
    padding: 6px;
    width: 390px; }
    fieldset.inputs ol li input[type='text']:focus,
    fieldset.inputs ol li input[type='password']:focus,
    fieldset.inputs ol li input[type='email']:focus,
    fieldset.inputs ol li input[type='url']:focus {
      -webkit-box-shadow: 0 0 4px #64a14b;
      -moz-box-shadow: 0 0 4px #64a14b;
      -ms-box-shadow: 0 0 4px #64a14b;
      -o-box-shadow: 0 0 4px #64a14b;
      box-shadow: 0 0 4px #64a14b; }
fieldset.inputs ol .check_boxes fieldset {
  background: none; }
fieldset.inputs ol .check_boxes label {
  float: none; }
fieldset.inputs ol .check_boxes legend {
  float: left; }
fieldset.inputs ol .check_boxes ol {
  margin-left: 180px; }

/* Flashes
---------------------------------------- */
#flash_alert,
#flash_failure,
#flash_notice,
#flash_success {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: 0;
  font: bold 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 10px 30px; }

#flash_failure, #flash_alert {
  background: #f48585;
  border-bottom: 1px solid #d55e5e;
  text-shadow: 0 1px 0 #ffbdba; }

#flash_success {
  background: #d4fec1;
  border-bottom: 1px solid #a5da8f;
  text-shadow: 0 1px 0 #eeffe6; }

div.error, #flash_failure {
  color: #971E0D; }

#flash_notice {
  background: #fff6c7;
  border-bottom: 1px solid #ddd4a6;
  font: bold 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif; }

#flash_success p,
#flash_failure p,
#flash_notice p,
#flash_alert p {
  margin-bottom: 0; }

/* Tabs
---------------------------------------- */
.subnav {
  -webkit-box-shadow: inset 0 -1px 0 white;
  -moz-box-shadow: inset 0 -1px 0 white;
  -ms-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  background: #daedf4;
  border-bottom: 1px solid #98B5BD;
  border-top: 1px solid #fff;
  list-style: none;
  margin-bottom: 0;
  padding: 0 30px; }
  .subnav li {
    display: block;
    float: left;
    overflow: visible;
    position: relative; }
    .subnav li a {
      display: block;
      color: #1d2c31;
      font: bold 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
      padding: 12px 18px;
      text-shadow: 0 1px 0 #f0ffff; }
      .subnav li a:hover {
        background: #bfd9e3;
        border-bottom: 1px solid #5F7D87;
        text-decoration: none;
        margin-bottom: -1px;
        -webkit-box-shadow: inset 0 -1px 0 white;
        -moz-box-shadow: inset 0 -1px 0 white;
        -ms-box-shadow: inset 0 -1px 0 white;
        -o-box-shadow: inset 0 -1px 0 white;
        box-shadow: inset 0 -1px 0 white; }

/* Selected tab
---------------------------------------- */
body.projects-index li.projects a,
body.projects-edit li.projects a,
body.projects-new li.projects a {
  -webkit-box-shadow: inset 0 -1px 0 white;
  -moz-box-shadow: inset 0 -1px 0 white;
  -ms-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white;
  background: #bfd9e3;
  border-bottom: 1px solid #5F7D87;
  margin-bottom: -1px;
  text-decoration: none; }
  body.projects-index li.projects a:after,
  body.projects-edit li.projects a:after,
  body.projects-new li.projects a:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #bfd9e3;
    border-bottom: 1px solid #5F7D87;
    border-right: 1px solid #5F7D87;
    bottom: -6px;
    content: ' ';
    display: block;
    height: 10px;
    left: 50%;
    margin-left: -5px;
    position: absolute;
    width: 10px; }

#page-bg {
  background: url(/images/page_corner.png) no-repeat 0 0;
  margin: 25px auto 0;
  padding: 11px 0 0 10px;
  text-align: left;
  width: 660px; }

#content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px #8ab3c2;
  -moz-box-shadow: 0 1px 5px #8ab3c2;
  -ms-box-shadow: 0 1px 5px #8ab3c2;
  -o-box-shadow: 0 1px 5px #8ab3c2;
  box-shadow: 0 1px 5px #8ab3c2;
  background: white url(/images/content-bg.jpg) repeat-x bottom;
  border: 1px solid #90aab3;
  min-height: 250px;
  position: relative; }
  #content .content-header {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    -ms-border-radius: 5px 5px 0 0;
    -o-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background: #e8f4f8 url(/images/header-glow.jpg) repeat-x bottom;
    border-bottom: 1px solid #abc2c9;
    padding: 18px 30px;
    overflow: visible;
    position: relative; }
    #content .content-header h2 {
      float: left;
      font: 16px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
      padding-right: 35px;
      text-shadow: 0 1px 0 #fff; }
      #content .content-header h2 a {
        color: #111; }
      #content .content-header h2 span {
        font-weight: bold; }
    #content .content-header .delete_item {
      background-image: url("/images/remove.png");
      display: inline-block;
      height: 12px;
      text-indent: -9999px;
      width: 12px;
      position: absolute;
      right: 24px;
      top: 24px; }
    #content .content-header a.project-settings {
      background: url(/images/settings-gear.png) no-repeat center center;
      display: block;
      float: right;
      height: 26px;
      position: relative;
      right: -15px;
      text-indent: -9999px;
      top: -2px;
      width: 25px; }
      #content .content-header a.project-settings:hover {
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 3px #aed8e8;
        -moz-box-shadow: 0 1px 3px #aed8e8;
        -ms-box-shadow: 0 1px 3px #aed8e8;
        -o-box-shadow: 0 1px 3px #aed8e8;
        box-shadow: 0 1px 3px #aed8e8;
        background: url(/images/settings-gear.png) center center no-repeat, -moz-linear-gradient(0% 100% 90deg, #e8f4f8, white);
        background: url(/images/settings-gear.png) center center no-repeat, -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#e8f4f8)); }
        #content .content-header a.project-settings:hover:active {
          top: -1px; }
  #content #main-content {
    padding: 20px 30px; }
    #content #main-content fieldset.inputs {
      background: 0;
      border: 0;
      padding: 0;
      margin: 0; }
      #content #main-content fieldset.inputs li.check_boxes.optional legend {
        display: block;
        float: none;
        padding-bottom: 20px; }
      #content #main-content fieldset.inputs li.check_boxes.optional ol {
        margin: 0;
        overflow: hidden; }
        #content #main-content fieldset.inputs li.check_boxes.optional ol li {
          float: left;
          margin-right: 10px;
          width: 189px; }
          #content #main-content fieldset.inputs li.check_boxes.optional ol li label {
            font: 13px Georgia, serif; }
    #content #main-content fieldset.buttons .cancel {
      margin-left: 10px; }

#header {
  position: relative; }
  #header h1#logo {
    float: left;
    left: -30px;
    margin: 10px 0 0 0;
    position: relative; }
    #header h1#logo a, #header h1#logo a:link {
      background: url("/images/copycopter.png") no-repeat 0 0;
      display: block;
      height: 57px;
      text-indent: -9999px;
      width: 228px; }

#footer {
  color: #3a4c53;
  margin-bottom: 140px;
  margin-top: 40px;
  text-align: center;
  text-shadow: 0 1px 0 #c0e7f4; }
  #footer p {
    line-height: 1.6em; }
    #footer p a, #footer p a:link {
      -webkit-box-shadow: 1px 0 0 #c0e7f4;
      -moz-box-shadow: 1px 0 0 #c0e7f4;
      -ms-box-shadow: 1px 0 0 #c0e7f4;
      -o-box-shadow: 1px 0 0 #c0e7f4;
      box-shadow: 1px 0 0 #c0e7f4;
      border-right: 1px solid #74adbf;
      color: #3a4c53;
      display: inline-block;
      margin-right: 10px;
      padding-right: 10px; }
      #footer p a:last-child, #footer p a:link:last-child {
        -webkit-box-shadow: 0 0 0 #c0e7f4;
        -moz-box-shadow: 0 0 0 #c0e7f4;
        -ms-box-shadow: 0 0 0 #c0e7f4;
        -o-box-shadow: 0 0 0 #c0e7f4;
        box-shadow: 0 0 0 #c0e7f4;
        border-right: 0;
        margin-right: 0;
        padding-right: 0; }
    #footer p a:hover {
      color: #1d2c31; }
    #footer p.service {
      margin-top: 10px; }
      #footer p.service a {
        -webkit-box-shadow: 0 0 0 #c0e7f4;
        -moz-box-shadow: 0 0 0 #c0e7f4;
        -ms-box-shadow: 0 0 0 #c0e7f4;
        -o-box-shadow: 0 0 0 #c0e7f4;
        box-shadow: 0 0 0 #c0e7f4;
        border-right: 0;
        margin-right: 0;
        padding-right: 0; }

div#ground {
  background: transparent url(/images/home/ground.png) left bottom repeat-x;
  bottom: 0;
  clear: both;
  padding: 60px 0 87px;
  position: fixed;
  text-align: center;
  text-shadow: 0 1px 0 #B6DCEA;
  width: 100%;
  z-index: -98; }
  div#ground h2 {
    font: 600 24px "PT Sans", serif;
    color: #649FBA; }
  div#ground p {
    color: #649FBA; }
  div#ground div#grass {
    width: 809px;
    height: 57px;
    margin: 0 auto;
    background: transparent url(/images/home/grass.png) top left no-repeat; }

#current_api {
  border-bottom: 1px solid #ABC2C9;
  margin-bottom: 20px;
  overflow: hidden; }
  #current_api label {
    float: left;
    font: 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10px;
    width: 180px; }
  #current_api div#api_key_value {
    display: block;
    float: left;
    font-family: "Andale Mono", "Lucida Console", "Courier New", Courier, monospace; }

#new_project #project_name_input {
  border-bottom: 1px solid #ABC2C9;
  padding-bottom: 20px; }
#new_project p {
  margin: 20px 0; }

.installation_instructions {
  padding: 30px;
  margin: 20px -30px -20px;
  background: #E8F4F8;
  border-top: 1px solid #9acfe0;
  -webkit-box-shadow: inset 0 1px 0 white;
  -moz-box-shadow: inset 0 1px 0 white;
  -ms-box-shadow: inset 0 1px 0 white;
  -o-box-shadow: inset 0 1px 0 white;
  box-shadow: inset 0 1px 0 white;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px; }

ul.projects {
  list-style: none; }
  ul.projects li {
    color: rgba(29, 44, 48, 0.6);
    font-size: 14px;
    margin: 20px 0; }

#main-content fieldset.buttons #remove_blurb {
  background: url("/images/remove-alt.png") 8px 14px no-repeat;
  color: #888;
  float: right;
  padding: 12px 0 0 25px; }
  #main-content fieldset.buttons #remove_blurb:hover {
    background-position: 8px -22px;
    color: #333; }

/* Blurb search start
---------------------------------------- */
#blurb_search.start {
  margin: 0;
  padding: 20px 15px;
  border: 1px solid #FAD498;
  background: #FFFBB8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -1px 0 white;
  -moz-box-shadow: inset 0 -1px 0 white;
  -ms-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white; }
  #blurb_search.start label {
    display: none;
    float: left;
    font: normal 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-top: 4px;
    width: 210px; }
  #blurb_search.start input {
    background: white url("/images/search.png") 6px center no-repeat;
    border: 1px solid #8ea5ac;
    padding: 8px 6px 8px 30px;
    width: 527px;
    font: bold 22px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    -webkit-box-shadow: inset 0 15px 40px rgba(152, 206, 227, 0.3), 0 0 0 1px white;
    -moz-box-shadow: inset 0 15px 40px rgba(152, 206, 227, 0.3), 0 0 0 1px white;
    -ms-box-shadow: inset 0 15px 40px rgba(152, 206, 227, 0.3), 0 0 0 1px white;
    -o-box-shadow: inset 0 15px 40px rgba(152, 206, 227, 0.3), 0 0 0 1px white;
    box-shadow: inset 0 15px 40px rgba(152, 206, 227, 0.3), 0 0 0 1px white; }
  #blurb_search.start input.prefilled {
    color: #9cb8c1; }

#blurb_search {
  background: #FFFBB8;
  border-bottom: 1px solid #ffcd85;
  padding: 8px 30px;
  margin: -19px -30px 20px;
  -webkit-box-shadow: inset 0 -1px 0 white;
  -moz-box-shadow: inset 0 -1px 0 white;
  -ms-box-shadow: inset 0 -1px 0 white;
  -o-box-shadow: inset 0 -1px 0 white;
  box-shadow: inset 0 -1px 0 white; }
  #blurb_search label {
    display: none;
    float: left;
    font: normal 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-top: 4px;
    width: 210px; }
  #blurb_search input {
    background: white url("/images/search.png") 6px center no-repeat;
    border: 1px solid #ccc;
    padding: 8px 6px 8px 30px;
    width: 562px;
    -webkit-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    -o-box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.1); }
  #blurb_search input.prefilled {
    color: gray; }

.blurbs-list {
  list-style: none;
  margin-bottom: 40px; }
  .blurbs-list ul {
    list-style: none;
    margin: 0;
    border-bottom: 1px solid #abc2c9; }
    .blurbs-list ul:last-child {
      border-bottom: 0; }
    .blurbs-list ul li {
      display: block;
      border-top: 1px solid #e0e0e0; }
      .blurbs-list ul li:first-child {
        border-top: 0; }
      .blurbs-list ul li a {
        display: block;
        margin: 0 -10px;
        padding: 10px; }
        .blurbs-list ul li a h4 {
          font: 14px "Andale Mono", "Lucida Console", "Courier New", Courier, monospace;
          margin-top: 8px;
          color: #53913A; }
        .blurbs-list ul li a p {
          line-height: 1.5em;
          color: #444;
          font-size: 14px; }
        .blurbs-list ul li a:hover {
          text-decoration: none;
          background: #efefef; }
          .blurbs-list ul li a:hover h4 {
            color: #29481d; }
          .blurbs-list ul li a:hover p {
            color: #000; }

#view_all {
  margin: 0 -30px 0;
  position: absolute;
  display: block;
  bottom: 0; }
  #view_all a {
    font: 14px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    border-top: 1px solid #abc2c9;
    background: #DAEDF4;
    color: #1d2c31;
    text-shadow: 0 1px 0 #fff;
    display: block;
    padding: 10px 30px;
    width: 598px;
    text-align: right;
    -webkit-box-shadow: inset 0 1px 0 white;
    -moz-box-shadow: inset 0 1px 0 white;
    -ms-box-shadow: inset 0 1px 0 white;
    -o-box-shadow: inset 0 1px 0 white;
    box-shadow: inset 0 1px 0 white;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; }
    #view_all a span {
      font-weight: bold;
      display: inline-block;
      padding-left: 10px; }
    #view_all a:hover {
      background: #c6e3ee;
      text-decoration: none; }

#no_results {
  margin: 30px 10px;
  padding: 30px 40px 30px 40px;
  border: 5px dashed #ddd;
  background: #efefef;
  text-align: center; }
  #no_results h3 {
    font-size: 32px;
    margin-bottom: 6px;
    color: #777;
    text-shadow: 0 1px 0 #fff; }
  #no_results p {
    color: #999; }

#start_search {
  padding: 20px 0 30px;
  margin-left: 20px; }
  #start_search h3 {
    font: bold 32px "PT Sans", "Helvetica neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0; }
  #start_search p {
    color: #666;
    margin-top: 8px; }

#empty {
  padding-left: 60px;
  background: url("/images/no-blurbs.png") 0 6px no-repeat; }
  #empty h3 {
    font-size: 32px; }

li#version_published_input {
  float: left;
  width: 160px;
  margin-top: 10px; }
li.explanation {
  float: left;
  width: 438px; }
li#version_content_input {
  background: #eaeaea;
  border: 1px solid #959595;
  border-bottom: 0;
  padding: 8px;
  margin-bottom: 0;
  width: 580px;
  -webkit-box-shadow: inset 0 0 5px #e9e9e9;
  -moz-box-shadow: inset 0 0 5px #e9e9e9;
  -ms-box-shadow: inset 0 0 5px #e9e9e9;
  -o-box-shadow: inset 0 0 5px #e9e9e9;
  box-shadow: inset 0 0 5px #e9e9e9; }
  li#version_content_input .wysiwyg {
    margin: 0;
    border: 1px solid #ababab;
    position: relative;
    height: 254px; }
    li#version_content_input .wysiwyg .toolbar {
      margin: 0;
      background: #f3f3f3;
      border-bottom: 1px solid #e3e3e3;
      width: 547px;
      padding: 10px 15px;
      list-style: none; }
      li#version_content_input .wysiwyg .toolbar li {
        float: left;
        margin: 0 20px 0 0;
        font-style: italic;
        color: #848484;
        font-size: 12px;
        padding-left: 12px;
        cursor: pointer; }
        li#version_content_input .wysiwyg .toolbar li.bold {
          background: url("/images/wysiwyg/bold.png") 0 center no-repeat; }
        li#version_content_input .wysiwyg .toolbar li.italic {
          background: url("/images/wysiwyg/italic.png") 0 center no-repeat; }
        li#version_content_input .wysiwyg .toolbar li.insertUnorderedList {
          background: url("/images/wysiwyg/list.png") 0 center no-repeat;
          padding-left: 16px; }
  li#version_content_input textarea {
    width: 548px;
    height: 224px;
    background: white url("/images/textarea-bg.jpg") repeat-x 0 0;
    padding: 15px;
    margin-bottom: -5px;
    border: 1px solid #ababab; }
  li#version_content_input label {
    display: none; }
  li#version_content_input iframe {
    width: 577px;
    height: 217px; }
li#editor_mode {
  text-align: right;
  background: #eaeaea;
  border: 1px solid #959595;
  border-top: 0;
  padding: 0 8px 8px; }
  li#editor_mode a {
    color: #575757; }
    li#editor_mode a:hover {
      text-decoration: underline; }

#version_published_input fieldset {
  background: none; }
#version_published_input legend {
  display: none; }
#version_published_input ol {
  overflow: hidden; }
  #version_published_input ol li {
    display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: -5px; }
    #version_published_input ol li label {
      width: auto; }

#versions {
  margin-bottom: 20px;
  overflow: hidden; }
  #versions #version_history_toggle {
    display: block;
    background: url("/images/clock.png") no-repeat 0 50%;
    padding-left: 20px;
    float: right; }
  #versions #versions_form {
    clear: both;
    padding-top: 20px; }
    #versions #versions_form table {
      border: 1px solid #ffeabf;
      margin: 0;
      font-size: 12px; }
      #versions #versions_form table th {
        background: #fffbb8;
        border: 0;
        border-bottom: 1px solid #fad498;
        font-weight: normal;
        padding: 10px; }
      #versions #versions_form table td {
        background: #fffde1;
        border: 0;
        border-bottom: 1px solid #ffeabf;
        padding: 10px; }
        #versions #versions_form table td a, #versions #versions_form table td a:link {
          color: #67471e; }
          #versions #versions_form table td a:hover, #versions #versions_form table td a:link:hover {
            color: #2b1902; }

body.landing_page_new_design {
  background: url(/images/home/home-body-glow.png) no-repeat scroll center top, url(/images/canvas-bg.jpg) repeat scroll 0 0 #b9d7e1;
  font: 14px/1.4em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }
  body.landing_page_new_design ::selection, body.landing_page_new_design ::-moz-selection, body.landing_page_new_design ::-webkit-selection {
    background: #7DCBE6;
    color: #fff;
    text-shadow: 0 1px 0 #64A3B8; }
  body.landing_page_new_design #home-wrap {
    width: 820px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    position: relative;
    text-align: left; }
  body.landing_page_new_design .cloud-entity {
    width: 100%;
    position: absolute;
    background: transparent url(/images/clouds-three.png) 10% top repeat-x;
    padding-top: 230px; }
    body.landing_page_new_design .cloud-entity .cloud-repeat {
      width: 100%;
      height: 1300px;
      background: transparent url(/images/home/cloud-fade.png) top left repeat-x; }
  body.landing_page_new_design #cloud-entity-1 {
    top: 250px;
    background-position: 10% top; }
  body.landing_page_new_design #home-heading {
    text-align: center;
    background: url(/images/home/divider.png) center bottom no-repeat; }
    body.landing_page_new_design #home-heading h1#logo {
      background: transparent url(/images/home/divider.png) center bottom no-repeat;
      padding-bottom: 40px; }
      body.landing_page_new_design #home-heading h1#logo a {
        display: inline-block;
        width: 285px;
        height: 71px;
        background: transparent url(/images/home/copycopter-logo.png) top left no-repeat;
        text-indent: -9999px; }
    body.landing_page_new_design #home-heading h2 {
      font: 800 62px "PT Sans", serif;
      padding: 30px 0 30px;
      margin: -10px -60px 0;
      background: url(/images/home/home-header-bg.png) center center no-repeat;
      color: #fff;
      text-shadow: 0 1px 2px #1b2c31;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.5))); }
  body.landing_page_new_design section#main-description {
    background: transparent url(/images/home/divider.png) center bottom no-repeat;
    padding-bottom: 40px; }
    body.landing_page_new_design section#main-description div#main-image {
      float: left;
      width: 560px;
      margin-left: -120px;
      margin-top: 58px;
      position: relative; }
      body.landing_page_new_design section#main-description div#main-image p {
        color: #3c6a7c;
        text-shadow: #C8ECFC;
        font-size: 12px;
        font-weight: bold; }
        body.landing_page_new_design section#main-description div#main-image p.save {
          position: absolute;
          top: 0;
          left: 0; }
        body.landing_page_new_design section#main-description div#main-image p.manage {
          position: absolute;
          top: -13px;
          right: -16px;
          width: 120px; }
        body.landing_page_new_design section#main-description div#main-image p.edit {
          position: absolute;
          bottom: 0;
          left: 196px;
          width: 140px; }
    body.landing_page_new_design section#main-description section {
      float: left;
      width: 360px;
      margin-top: 60px;
      margin-right: -60px;
      padding-left: 60px; }
      body.landing_page_new_design section#main-description section h3 {
        font: 18px/26px "PT Sans", serif;
        text-shadow: 0 1px 0 #B7EBFB; }
        body.landing_page_new_design section#main-description section h3 span {
          font-weight: 700;
          font-style: italic; }
        body.landing_page_new_design section#main-description section h3 a {
          color: rgba(29, 44, 48, 0.8);
          font-style: italic; }
          body.landing_page_new_design section#main-description section h3 a:hover {
            color: #3D7427;
            text-decoration: none; }
      body.landing_page_new_design section#main-description section ul {
        list-style-position: outside; }
        body.landing_page_new_design section#main-description section ul li {
          margin-bottom: 8px;
          text-shadow: 0 1px 0 #BBE5F6;
          color: rgba(29, 44, 48, 0.6); }
      body.landing_page_new_design section#main-description section a.sign-up-button {
        display: block;
        border: 1px solid #bc8c19;
        width: 380px;
        padding: 18px 0 14px;
        text-align: center;
        margin: 50px 0 0 -10px;
        -webkit-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(27, 44, 49, 0.4);
        -moz-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(27, 44, 49, 0.4);
        -ms-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(27, 44, 49, 0.4);
        -o-box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(27, 44, 49, 0.4);
        box-shadow: inset 0 1px 0 white, 0 1px 4px rgba(27, 44, 49, 0.4);
        background-color: #fcf69d;
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fcf69d), color-stop(100%, #ecac1d));
        background-image: -webkit-linear-gradient(top, #fcf69d, #ecac1d);
        background-image: -moz-linear-gradient(top, #fcf69d, #ecac1d);
        background-image: -ms-linear-gradient(top, #fcf69d, #ecac1d);
        background-image: -o-linear-gradient(top, #fcf69d, #ecac1d);
        background-image: linear-gradient(top, #fcf69d, #ecac1d);
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        border-radius: 6px; }
        body.landing_page_new_design section#main-description section a.sign-up-button h4 {
          font: 800 20px "PT Sans", serif;
          color: #222;
          margin-bottom: 4px;
          text-shadow: 0 1px 0 #FCFF63; }
        body.landing_page_new_design section#main-description section a.sign-up-button p {
          font-size: 12px;
          text-shadow: 0 1px 0 #F7D92A;
          color: #6D5616;
          margin-bottom: 0; }
        body.landing_page_new_design section#main-description section a.sign-up-button:hover {
          text-decoration: none;
          background-color: #fffdc9;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffdc9), color-stop(100%, #ecac1d));
          background-image: -webkit-linear-gradient(top, #fffdc9, #ecac1d);
          background-image: -moz-linear-gradient(top, #fffdc9, #ecac1d);
          background-image: -ms-linear-gradient(top, #fffdc9, #ecac1d);
          background-image: -o-linear-gradient(top, #fffdc9, #ecac1d);
          background-image: linear-gradient(top, #fffdc9, #ecac1d); }
        body.landing_page_new_design section#main-description section a.sign-up-button:active {
          padding: 20px 0 12px;
          background-color: #edb121;
          background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edb121), color-stop(100%, #edcf64));
          background-image: -webkit-linear-gradient(top, #edb121, #edcf64);
          background-image: -moz-linear-gradient(top, #edb121, #edcf64);
          background-image: -ms-linear-gradient(top, #edb121, #edcf64);
          background-image: -o-linear-gradient(top, #edb121, #edcf64);
          background-image: linear-gradient(top, #edb121, #edcf64);
          -webkit-box-shadow: inset 0 1px 0 #f8da25, 0 1px 2px rgba(27, 44, 49, 0.4);
          -moz-box-shadow: inset 0 1px 0 #f8da25, 0 1px 2px rgba(27, 44, 49, 0.4);
          -ms-box-shadow: inset 0 1px 0 #f8da25, 0 1px 2px rgba(27, 44, 49, 0.4);
          -o-box-shadow: inset 0 1px 0 #f8da25, 0 1px 2px rgba(27, 44, 49, 0.4);
          box-shadow: inset 0 1px 0 #f8da25, 0 1px 2px rgba(27, 44, 49, 0.4); }
  body.landing_page_new_design section#tour {
    clear: both;
    background: transparent url(/images/home/divider.png) center bottom no-repeat; }
    body.landing_page_new_design section#tour h2 {
      font: 800 48px "PT Sans", serif;
      color: #fff;
      text-shadow: 0 1px 2px #1b2c31;
      padding-top: 30px;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0.7))); }
    body.landing_page_new_design section#tour h3 {
      padding-left: 50px;
      font: 600 20px "PT Sans", serif;
      color: #181A1B;
      text-shadow: 0 1px 0 #CAFFFF; }
    body.landing_page_new_design section#tour section#setup div {
      width: 243px;
      float: left;
      margin-top: 30px; }
      body.landing_page_new_design section#tour section#setup div h3 {
        background: transparent url(/images/home/setup-icon.png) left top no-repeat;
        padding-top: 9px; }
      body.landing_page_new_design section#tour section#setup div p {
        margin-bottom: 1em;
        text-shadow: 0 1px 0 #BBE5F6; }
    body.landing_page_new_design section#tour section#setup img {
      display: block;
      float: right;
      margin-right: -160px; }
    body.landing_page_new_design section#tour section#edit {
      padding-bottom: 20px; }
      body.landing_page_new_design section#tour section#edit div {
        width: 240px;
        float: right;
        margin: 20px 16px 0 0; }
        body.landing_page_new_design section#tour section#edit div h3 {
          background: transparent url(/images/home/edit-icon.png) left top no-repeat;
          padding-top: 9px; }
        body.landing_page_new_design section#tour section#edit div p {
          margin-bottom: 1em;
          text-shadow: 0 1px 0 #BBE5F6; }
      body.landing_page_new_design section#tour section#edit img {
        display: block;
        float: left;
        margin: -180px 0 30px -120px; }

ul#locale_dropdown {
  float: right;
  list-style: none;
  z-index: 99;
  margin: -18px -30px;
  border-left: 1px solid #ABC2C9;
  position: relative; }
  ul#locale_dropdown p.selected {
    margin-bottom: 0; }
    ul#locale_dropdown p.selected a:link,
    ul#locale_dropdown p.selected a:visited {
      color: black;
      display: block;
      padding: 21px 30px;
      background: rgba(200, 226, 241, 0.6);
      text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4); }
      ul#locale_dropdown p.selected a:link:hover,
      ul#locale_dropdown p.selected a:visited:hover {
        background: #c8e2f1;
        cursor: pointer; }
  ul#locale_dropdown ul.menu {
    display: none;
    list-style: none;
    background-color: white;
    border: 1px solid #ABC2C9;
    margin: 0 -1px;
    position: absolute;
    left: 0;
    width: 115%;
    -webkit-border-radius: 0 3px 3px 3px;
    -moz-border-radius: 0 3px 3px 3px;
    -ms-border-radius: 0 3px 3px 3px;
    -o-border-radius: 0 3px 3px 3px;
    border-radius: 0 3px 3px 3px;
    -webkit-box-shadow: 0 0px 2px #abc2c9;
    -moz-box-shadow: 0 0px 2px #abc2c9;
    -ms-box-shadow: 0 0px 2px #abc2c9;
    -o-box-shadow: 0 0px 2px #abc2c9;
    box-shadow: 0 0px 2px #abc2c9; }
    ul#locale_dropdown ul.menu li:first-child a:link, ul#locale_dropdown ul.menu li a:visited {
      -webkit-border-radius: 0 3px 0 0;
      -moz-border-radius: 0 3px 0 0;
      -ms-border-radius: 0 3px 0 0;
      -o-border-radius: 0 3px 0 0;
      border-radius: 0 3px 0 0; }
    ul#locale_dropdown ul.menu li:last-child a:link, ul#locale_dropdown ul.menu li a:visited {
      -webkit-border-radius: 0 0 3px 3px;
      -moz-border-radius: 0 0 3px 3px;
      -ms-border-radius: 0 0 3px 3px;
      -o-border-radius: 0 0 3px 3px;
      border-radius: 0 0 3px 3px; }
    ul#locale_dropdown ul.menu a:link, ul#locale_dropdown ul.menu a:visited {
      display: block;
      padding: 8px;
      color: black; }
    ul#locale_dropdown ul.menu a:hover, ul#locale_dropdown ul.menu a:active {
      text-decoration: none;
      background-color: #FFFBB8; }
