body {
  background: #b9d7e1 url('https://copycopter.com/images/canvas-bg.jpg');
  font: normal 13px/1.5em "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  color: #181A1B;
  margin: 0;
  min-height: 1600px;
}

div#container {
  margin: 0 auto;
  width: 400px;
  text-align: left;
}

h1#logo {
  display: none;
}

header h2 {
  margin: 80px 0 20px -20px;
  text-indent: -9999px;
  width: 439px;
  height: 96px;
  display: block;
  background: transparent url('https://copycopter.com/images/home/copycopter-logo.png') left top no-repeat;
}

header div {
  margin-bottom: 45px;
}

ul {
  list-style: none;
  padding-left: 0;
}

ul li {
  padding: 0;
}

ul li label.desc {
  font-weight: bold;
  text-shadow: 0 1px 0 #bbedff;
}

ul li textarea {
  border: 1px solid #303030;
  box-shadow: 0 1px 0 #BBEDFF, inset 0 2px 3px #E2E2E2, inset 0 1px 0 #fff;
  -moz-box-shadow: 0 1px 0 #BBEDFF, inset 0 2px 3px #E2E2E2, inset 0 1px 0 #fff;
  -webkit-box-shadow: 0 1px 0 #BBEDFF, inset 0 2px 3px #E2E2E2, inset 0 1px 0 #fff;
  -o-box-shadow: 0 1px 0 #BBEDFF, inset 0 2px 3px #E2E2E2, inset 0 1px 0 #fff;
  margin-top: 20px;
  padding: 10px;
}

li.buttons input.submit {
  color: #345428;
  text-align: center;
  border: 0;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0 1px 0 #CCE5C3;
  background: #A0E088;
  background: -moz-linear-gradient(top, #A0E088, #70AE59);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #A0E088), color-stop(1, #70AE59));
  -moz-box-shadow: 0 2px 3px #68808A, inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -webkit-box-shadow: 0 2px 3px #68808A, inset 0 1px 0 rgba(255, 255, 255, 0.6);
  -o-box-shadow: 0 2px 3px #68808A, inset 0 1px 0 rgba(255, 255, 255, 0.6);
  box-shadow: 0 2px 3px #68808A, inset 0 1px 0 rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}

li.buttons input.submit:hover {
  background: #70AE59;
  background: -moz-linear-gradient(top, #70AE59, #B0E59C);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #70AE59), color-stop(1, #B0E59C));
}

.hide, #bottom {
  display: none !important;
}
