<div id='footer' class='wrapper'>
  <p>
    <%= link_to 'Report an Issue', 'http://github.com/copycopter/server/issues' -%>
  </p>
</div>

<div id='clouds'></div>

<div id='ground'>
  <div id='grass'></div>
</div>
