<div id='footer' class='wrapper'>
  <p>
  <%= link_to 'Report an Issue',
    'http://github.com/copycopter/copycopter-server/issues', 
    :target => "blank" -%>
  </p>
</div>

<div id='clouds'></div>

<div id='ground'>
  <div id='grass'></div>
</div>
