<meta charset='utf-8'>
<title>Copycopter</title>
<link rel='fluid-icon' href='/assets/fluid-icon.png'>
<link rel='shortcut icon' href='/favicon.ico'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans&subset=latin' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=PT+Sans:bold&subset=latin' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag 'application' %>
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico'>
<%= csrf_meta_tag %>
