<div class='installation_instructions'>
  <h3>Setting up your Rails app</h3>

  <ol>
    <li>
      Add the copycopter_client gem to your bundler Gemfile:
      <pre>gem 'copycopter_client', '2.0.0'</pre>
    </li>

    <li>
      Put this in your config/initializers/copycopter.rb:
      <% self.formats = [:html, :rb] %>
      <pre><%= render :partial => 'projects/copycopter', :locals => {:project => project} %></pre>
    </li>
  </ol>
</div>
