<% content_for :button do %>
  <div id='new-project'>
    <%= link_to 'Create a new project', new_project_path %>
  </div>
<% end %>

<% content_for :header do %>
  <h2><strong>Projects</strong></h2>
<% end %>

<ul class='projects'>
  <% @projects.each do |project| %>
    <li><%= link_to project.name, project %></li>
  <% end %>
</ul>
